<div id="category-list">
  {% if site.posts.size > 0 %}
    {% assign sorted_cats = site.categories | sort %}
    {% for category in sorted_cats %}
      {% if category[1].size != 0 %}
        <h3>{{ category[0] }}</h3>
        <ul>
          {% for post in category[1] %}
            <li class="post-list-item">
              <span class="home-date">
                {{ post.date | date: site.theme_config.date_format }}»
              </span>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </li>          
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}

    {% assign has_uncategorized_posts = false %}
    {% for post in site.posts %}
        {% if post.categories.size == 0 %}
            {% assign has_uncategorized_posts = true %}
            {% break %}
        {% endif %}
    {% endfor %}

    {% if has_uncategorized_posts == true %}
      <h3>uncategorized</h3>
      <ul>
        {% for post in site.posts %}
          {% if post.categories == empty %}
            <li class="post-list-item">
              <span class="home-date">
                {{ post.date | date: site.theme_config.date_format }}»
              </span>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </li>        
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}
</div>
